{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block title %}ایجاد معلم جدید{% endblock %}
{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5 d-flex justify-content-bettwen">
                <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 col-12 mt-5">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row d-flex justify-content-center ">
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.username }}
                                            {% for e in form.username.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                            {{ form.first_name }}
                                            {% for e in form.first_name.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                            {{ form.last_name }}
                                            {% for e in form.last_name.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                            {{ form.password1 }}
                                            {% for e in form.password1.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                            {{ form.password2 }}
                                            {% for e in form.password2.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                            {% for e in form.errors %}
                                                <p class="text-danger">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mt-5 btn-block mb-5">ذخیره</button>
                                    <hr class="text-secondary mb-5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6 col-12 mt-5">
                    <div class="card">
                    <div class="card-header align-items-center">
                        <h4 class="card-title">  معلم های ثبت شده</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped responsive-table text-center">
                            <thead>
                            <tr>
                                <th>رشته تحصیلی</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for t in teacher %}
                                    <tr>
                                        <td>
                                            <h4>{{ t.get_full_name }}</h4>
                                        </td>
                                        <td>
                                            <a class="btn badge btn-primary" href="">ویرایش</a>
                                            <button type="button" class="btn badge btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ t.id }}">
                                                پاک کردن
                                            </button>

                                            <!-- Modal -->
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <div class="modal fade" id="staticBackdrop-{{ t.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">
                                                            آیا میخواهید این معلم را پاک کنید؟  "{{ t.get_full_name }}"
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                                        <button type="submit" class="btn btn-danger">پاک کردن</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        </div>
    
                    </div>
                    </div>
                </div>
		    </div>
		</div>
	    </div>
	</div>

{% endblock %}
