{% extends 'base.html' %}
{% load static %}
{% block title %}  برنامه هفتگی {% endblock %}
{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">جدول برنامه هفتگی آقای  {{ teacher.get_full_name }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive transaction-table">
                            <table class="table table-striped responsive-table text-center">
                                <thead>
                                <tr>
                                    <th>روز های هفته</th>
                                    <th>کلاس ها</th>
                                    <th>زمان شروع</th>
                                    <th>زمان پایان</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for t in teacher_wt %}
                                    <tr>
                                            <td>{{ t.day }}</td>
                                            <td>{{ t.classes }}</td>
                                            <td>{{ t.start_time }}</td>
                                            <td>{{ t.end_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

	</div>


{% endblock %}
