{% extends 'base.html' %}
{% load static %}

{% block title %}لیست حضور غیاب{% endblock %}

{% block body %}
	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5">
            {% if att_date %}
				{% for a in att_date %}
				<div class="col-xxl-4 col-xl-4 col-lg-6 col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="invite-content">
							<h4>{{ a }}</h4>
							{% for z in zang_list %}
							<a href="{% url 'student:attendance-edit' class_id_number a z %}" class="btn btn-primary m-2">زنگ {{ z }}</a>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
				<h3 class="text-muted">هیچ حضور غیابی در این کلاس صورت نگرفته است.</h3>
			{% endif %}
		    </div>
		</div>
	    </div>
	</div>

{% endblock %}