{% extends 'base.html' %}
{% load static %}

{% block body %}
	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5">
            {% for a in att_date %}
			<div class="col-xxl-2 col-xl-2 col-lg-4">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>{{ a }}</h4>
					{% for z in zang_list %}
						<a href="{% url 'student:attendance-edit' class_id_number a z %}" class="btn btn-primary m-2">زنگ {{ z }}</a>
					{% endfor %}
				    </div>
				</div>
			    </div>
			</div>
			{% endfor %}
		    </div>
		</div>
	    </div>
	</div>

{% endblock %}