{% extends 'base.html' %}

{% block body %}

	<div id="main-wrapper">

	    <div class="content-body">
		<div class="container">
		    <div class="row">
		    </div>
			<hr class="text-secondary mb-5 mt-5">
		    <div class="row">
			<div class="col-xxl-12">
			    <div class="card">
				<div class="card-header">
					<div>
						<h4 class="card-title">جدول دانش آموزان  </h4>
					</div>
					<h4 class="text-left">کلاس {{ class }}</h4>
				</div>
				{% if student_class_room %}
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table">
					    <thead>
						<tr>
						    <th>نام و نام خانوادگی</th>
						    <th>نام پدر</th>
						    <th>کد ملی</th>
						    <th>رشته تحصیلی</th>
						    <th>پایه</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
						{% for s in student_class_room %}
							<tr>
								<td><span class="danger-arrow">{{ s.full_name }} </span>
								</td>
								<td>
									{{ s.father_name }}
								</td>
								<td>
									{{ s.id_code }}
								</td>
								<td>
									{{ s.reshte }}
								</td>
								<td>{{ s.level }}</td>
								<td>
									<div class="badge p-3 bg-primary"><a href="{{ s.get_absolute_url }}" class="text-white">مشاهده</a></div>
									<div class="badge p-3 bg-warning"><a href="{% url 'student:student-edit' s.full_name s.id_code %}" class="text-white">ویرایش</a></div>
								</td>
							</tr>
						{% endfor %}
					    </tbody>
					</table>
				    </div>
				</div>
				{% else %}
					<div class="alert">
						در این کلاس هیچ دانش آموزی ثبت نشده
					</div>
				{% endif %}
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>	

{% endblock %}