{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row d-flex justify-content-center ">
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.full_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.father_name }}
                                        </div>                                        
                                        <div class="col-md-6">
                                            {{ form.id_code }}
                                            {% for e in form.id_code.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.class_id }}
                                            {% for e in form.class_id.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                        
                                        <div class="col-md-6">
                                            {{ form.level }}
                                            {% for e in form.level.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.reshte }}
                                            {% for e in form.reshte.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.usn }}
                                            {% for e in form.usn.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.date }}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mt-5 btn-block mb-5">ذخیره</button>
                                    <hr class="text-secondary mb-5">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

		    </div>
		</div>
	    </div>
	</div>

    <script>
        
    </script>

{% endblock %}
