{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row d-flex justify-content-center ">
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.name }}
                                            {% for e in form.name.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-sm mt-5 btn-block mb-5">ذخیره</button>
                                    <hr class="text-secondary mb-5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
		    </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xxl-6">
                    <div class="card">
                    <div class="card-header align-items-center">
                        <h4 class="card-title">رشته های تحصیلی ثبت شده</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped responsive-table text-center">
                            <thead>
                            <tr>
                                <th>رشته تحصیلی</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for r in reshte %}
                                    <tr>
                                        <td>
                                            <h4>{{ r.name }}</h4>
                                        </td>
                                        <td>
                                            <a class="btn badge btn-primary" href="{% url 'student:edit-reshte' r.id %}">ویرایش</a>
                                            <button type="button" class="btn badge btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ r.id }}">
                                                پاک کردن
                                            </button>
                                            
                                            <!-- Modal -->
                                            <form action="{% url 'student:delete-reshte' r.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal fade" id="staticBackdrop-{{ r.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                        آیا میخواهدی این رشته تحصیلی را پاک کنید؟  "{{ r.name }}"
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
                                                        <button type="submit" class="btn btn-danger">پاک کردن</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
    
                    </div>
                    </div>
                </div>
            </div>
		</div>
	    </div>
	</div>

{% endblock %}
