{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row d-flex justify-content-center ">
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.class_id }}
                                            {% for e in form.class_id.errors %}
                                                <p class="text-danger text-center">{{ e }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <button class="btn btn-success btn-sm mt-5 btn-block mb-5">ذخیره</button>
                                    <hr class="text-secondary mb-5">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
		    </div>
            <div class="row">
                <div class="col-xxl-6">
                    <div class="card">
                    <div class="card-header align-items-center">
                        <h4 class="card-title">کلاس های اختصاص داده شده</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped responsive-table text-center">
                            <thead>
                            <tr>
                                <th>توضیحات</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for a in assign %}
                                    <tr>
                                        <td>
                                        <h4>{{ a }}</h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
    
                    </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card">
                    <div class="card-header align-items-center">
                        <h4 class="card-title">کلاس ها</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped responsive-table text-center">
                            <thead>
                            <tr>
                                <th>شماره کلاس</th>
                                <th>شیفت</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for c in class %}
                                    <tr>
                                        <td>
                                            <h4>{{ c.number }}</h4>
                                        </td>
                                        <td>
                                            <h4>{{ c.shift }}</h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
    
                    </div>
                    </div>
                </div>
            </div>
            </div>
		</div>
	    </div>
	</div>

    <script>
        
    </script>

{% endblock %}
