{% extends 'base.html' %}
{% load static %}

{% block body %}

	<div id="main-wrapper">

	    <div class="content-body">
		<div class="container">
		    <!-- <div class="row">
				{% for c in class_room %}
					<div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
						<div class="wallet-widget card">
						<h5>کلاس</h5>
						<h2><span class="text-primary">{{ c.number }}</span></h2>
						<p>شیفت : {{ c.shift }}</p>
						<div class="row mt-4">
							<div class="col-6">
								<a href="{{ c.get_absolute_url }}" type="button" class="btn mt-2 btn-primary btn-block">
									مشاهده
								</a>
							</div>
							<div class="col-6">
								<a href="{% url 'student:attendance' c.number %}" type="button" class="btn mt-2 btn-primary btn-block">
									حضور غیاب
								</a>
							</div>
						</div>
						</div>
					</div>
				{% endfor %}
		    </div> -->
		    <div class="row">

			<div class="col-xxl-6">
			    <div class="card">
				<div class="card-header align-items-center">
				    <h4 class="card-title">کلاس های شیفت صبح</h4>
				    <h5 class="text-left">تعداد : {{ student_m }} نفر</h5>
				</div>
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table text-center">
					    <thead>
						<tr>
						    <th>شماره کلاس</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
							{% for c in class_room_m %}
								<tr>
									<td>
									<h4>{{ c.number }}</h4>
									</td>
									<td>
										<div class="badge p-3 bg-primary"><a href="{{ c.get_absolute_url }}" class="text-white">مشاهده</a></div>
										<div class="badge p-3 bg-warning"><a href="{% url 'student:attendance' c.number %}" class="text-white">حضور غیاب</a></div>
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>
				    </div>

				</div>
			    </div>
			</div>
			
			<div class="col-xxl-6">
			    <div class="card">
				<div class="card-header align-items-center">
				    <h4 class="card-title">کلاس های شیفت عصر</h4>
				    <h5 class="text-left">تعداد : {{ student_e }} نفر</h5>
				</div>
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table text-center">
					    <thead>
						<tr>
						    <th>شماره کلاس</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
							{% for c in class_room_e %}
								<tr>
									<td>
									<h4>{{ c.number }}</h4>
									</td>
									<td>
										<div class="badge p-3 bg-primary"><a href="{{ c.get_absolute_url }}" class="text-white">مشاهده</a></div>
										<div class="badge p-3 bg-warning"><a href="{% url 'student:attendance' c.number %}" class="text-white">حضور غیاب</a></div>
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>
				    </div>

				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>

	</div>

{% endblock %}