{% extends 'base.html' %}
{% load static %}

{% block body %}
	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row mt-5">

			<div class="col-xxl-6 col-xl-6 col-lg-12">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>ثبت کلاس</h4>
					<p>برای ثبت کلاس  شما بایستی شماره کلاس و شیفت صبح / عصر را وارد کنید</a>
					</p>
					<a href="{% url 'student:create-class' %}" class="btn btn-primary">مشاهده</a>
				    </div>
				</div>
			    </div>
			</div>
			
			<div class="col-xxl-6 col-xl-6 col-lg-12">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>اختصاص دادن</h4>
					<p>بعد از ساخت کلاس ها  باید با استفاده از دراپدان هر کلاس را اختصاص دهید</a>
					</p>
					<a href="{% url 'student:create-assign' %}" class="btn btn-primary">مشاهده</a>
				    </div>
				</div>
			    </div>
			</div>

			<div class="col-xxl-6 col-xl-6 col-lg-12">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>دسترسی برای حضور و غیاب کلاس ها</h4>
					<p>بعد از اختصاص دادن کلاس ها باید دسترسی هر کلاس را برای حضور و غیاب تعیین کنید</a>
					</p>
					<a href="{% url 'student:create-attendance-class' %}" class="btn btn-primary">مشاهده</a>
				    </div>
				</div>
			    </div>
			</div>
			
			<div class="col-xxl-6 col-xl-6 col-lg-12">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>ثبت رشته های تحصیلی</h4>
					<p>رشته های تحصیلی را در این قسمت ثبت کنید</a>
					</p>
					<a href="{% url 'student:create-reshte' %}" class="btn btn-primary">مشاهده</a>
				    </div>
				</div>
			    </div>
			</div>

			<div class="col-xxl-6 col-xl-6 col-lg-12">
			    <div class="card">
				<div class="card-body">
				    <div class="invite-content">
					<h4>ثبت دانش آموز جدید</h4>
					<p>
						برای ثبت دانش آموز جدید تمام اطلاعات گفته شده را پر کنید
					</a>
					</p>
					<a href="{% url 'student:create-student' %}" class="btn btn-primary">مشاهده</a>
				    </div>
				</div>
			    </div>
			</div>

		    </div>
		</div>
	    </div>
	</div>

{% endblock %}