<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>
</head>

<style>
    @page {
        size: 'A4';
        margin: 2.5cm 1.5cm 3.5cm 1.5cm;
    }
    
</style>
<body>
    
    This is name

<!-- 
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-xl-12">
                <div class="card">
                <div class="card-header">
                    <h4 class="card-title">معامله</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive transaction-table">
                    <table class="table table-striped responsive-table text-center">
                        <thead>
                        <tr>
                            <th>نام خانوادگی</th>
                            <th>نام پدر</th>
                            <th>شماره ملی</th>
                            <th>شماره کلاس</th>
                            <th>شیفت</th>
                            <th>پایه تحصیلی</th>
                            <th>رشته تحصیلی</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ student.full_name }}</td>
                            <td>{{ student.father_name }}</td>
                            <td>{{ student.id_code }}</td>
                            <td>{{ student.class_id.number }}</td>
                            <td>{{ student.class_id.shift }}</td>
                            <td>{{ student.level }}</td>
                            <td>{{ student.reshte }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
     -->
    
</body>
</html>