{% extends 'base.html' %}

{% block body %}

	<div id="main-wrapper">

	    <div class="content-body">
		<div class="container">
		    <div class="row">
			<div class="col-xxl-12">
			    <div class="card">
				<div class="card-header">
					<div>
						<h4 class="card-title">دانش آموزان جستجو شده</h4>
					</div>
				</div>
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table text-center">
					    <thead>
						<tr>
						    <th>نام و نام خانوادگی</th>
						    <th>نام پدر</th>
						    <th>کد ملی</th>
						    <th>رشته تحصیلی</th>
						    <th>پایه</th>
						    <th>شماره کلاس</th>
						    <th>شبفت</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
						{% for s in student_class_room %}
							<tr>
								<td><span class="danger-arrow">{{ s.full_name }}</span>
								</td>
								<td class="coin-name">
									{{ s.father_name }}
								</td>
								<td>
									{{ s.id_code }}
								</td>
								<!-- <td class="text-danger">{{ c.class_room }}</td> -->
								<td>{{ s.reshte }}</td>
								<td>{{ s.level }}</td>
								<td>{{ s.class_id.number }}</td>
								<td>{{ s.class_id.shift }}</td>
								<td>
									<div class="badge bg-primary p-3"><a href="{{ s.get_absolute_url }}" class="text-white">مشاهده</a></div>
									<div class="badge bg-warning p-3"><a href="{% url 'student:student-edit' s.full_name s.id_code %}" class="text-white">ویرایش</a></div>
								</td>
							</tr>
						{% endfor %}
					    </tbody>
					</table>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>

	</div>

	<!-- Buy Modal -->
	<div class="modal fade" id="BuyModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائیدیه</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="table-responsive">
			    <table class="table">
				<tbody>
				    <tr>
					<td><span class="text-primary">ایمیل خریدار</span></td>
					<td><span class="text-primary">buyer@example.com</span></td>
				    </tr>
				    <tr>
					<td><span class="text-primary">ایمیل فروشنده</span></td>
					<td><span class="text-primary">seller@example.com</span></td>
				    </tr>
				    <tr>
					<td>قیمت ارز</td>
					<td>0.00212455 BTC</td>
				    </tr>
				    <tr>
					<td>مفدار</td>
					<td>$28.00 دلار</td>
				    </tr>
				    <tr>
					<td>کل</td>
					<td>$854.00 دلار</td>
				    </tr>
				    <tr>
					<td>مالیات</td>
					<td>
					    <div class="text-danger">$25.00 دلار</div>
					</td>
				    </tr>
				    <tr>
					<td>قابل پرداخت</td>
					<td> $1232.00 دلار</td>
				    </tr>
				</tbody>
			    </table>
			</div>
			<div class="text-right">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#buySuccessleModal">تائید</button>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="modal fade" id="buySuccessleModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائید</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="auth-form">
			    <form action="verify-step-2.html" class="identity-upload">
				<div class="identity-content">
				    <span class="icon"><i class="icofont-check"></i></span>
				    <p>ارسال به موفقیت انجام شد</p>
				</div>
			    </form>
			    <div class="card-footer text-center">
				<a href="signup.html">لیست تراکنش ها</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Buy Modal -->
	<div class="modal fade" id="SellModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائیدیه</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="table-responsive">
			    <table class="table">
				<tbody>
				    <tr>
					<td><span class="text-primary">ایمیل خریدار</span></td>
					<td><span class="text-primary">buyer@example.com</span></td>
				    </tr>
				    <tr>
					<td><span class="text-primary">ایمیل فروشنده</span></td>
					<td><span class="text-primary">seller@example.com</span></td>
				    </tr>
				    <tr>
					<td>قیمت ارز</td>
					<td>0.00212455 BTC</td>
				    </tr>
				    <tr>
					<td>مفدار</td>
					<td>$28.00 دلار</td>
				    </tr>
				    <tr>
					<td>کل</td>
					<td>$854.00 دلار</td>
				    </tr>
				    <tr>
					<td>مالیات</td>
					<td>
					    <div class="text-danger">$25.00 دلار</div>
					</td>
				    </tr>
				    <tr>
					<td>قابل پرداخت</td>
					<td> $1232.00 دلار</td>
				    </tr>
				</tbody>
			    </table>
			</div>
			<div class="text-right">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#buySuccessleModal">تائید</button>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="modal fade" id="SellSuccessleModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائید</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="auth-form">
			    <form action="verify-step-2.html" class="identity-upload">
				<div class="identity-content">
				    <span class="icon"><i class="icofont-check"></i></span>
				    <p>انتقال با موفقیت ثبت شد</p>
				</div>
			    </form>
			    <div class="card-footer text-center">
				<a href="signup.html">لیست تراکنش ها</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Transfer Modal -->
	<div class="modal fade" id="transferModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائیدیه</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="table-responsive">
			    <table class="table">
				<tbody>
				    <tr>
					<td><span class="text-primary">ایمیل خریدار</span></td>
					<td><span class="text-primary">buyer@example.com</span></td>
				    </tr>
				    <tr>
					<td><span class="text-primary">ایمیل فروشنده</span></td>
					<td><span class="text-primary">seller@example.com</span></td>
				    </tr>
				    <tr>
					<td>قیمت ارز</td>
					<td>0.00212455 BTC</td>
				    </tr>
				    <tr>
					<td>مفدار</td>
					<td>$28.00 دلار</td>
				    </tr>
				    <tr>
					<td>کل</td>
					<td>$854.00 دلار</td>
				    </tr>
				    <tr>
					<td>مالیات</td>
					<td>
					    <div class="text-danger">$25.00 دلار</div>
					</td>
				    </tr>
				    <tr>
					<td>قابل پرداخت</td>
					<td> $1232.00 دلار</td>
				    </tr>
				</tbody>
			    </table>
			</div>
			<div class="text-right">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#transferSuccessModal">تائید</button>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="modal fade" id="transferSuccessModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائید</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="auth-form">
			    <form action="verify-step-2.html" class="identity-upload">
				<div class="identity-content">
				    <span class="icon"><i class="icofont-check"></i></span>
				    <p>ارسال به موفقیت انجام شد</p>
				</div>
			    </form>
			    <div class="card-footer text-center">
				<a href="signup.html">لیست تراکنش ها</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Convert Modal -->
	<div class="modal fade" id="convertModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائیدیه</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="table-responsive">
			    <table class="table">
				<tbody>
				    <tr>
					<td><span class="text-primary">ایمیل خریدار</span></td>
					<td><span class="text-primary">buyer@example.com</span></td>
				    </tr>
				    <tr>
					<td><span class="text-primary">ایمیل فروشنده</span></td>
					<td><span class="text-primary">seller@example.com</span></td>
				    </tr>
				    <tr>
					<td>قیمت ارز</td>
					<td>0.00212455 BTC</td>
				    </tr>
				    <tr>
					<td>مفدار</td>
					<td>$28.00 دلار</td>
				    </tr>
				    <tr>
					<td>کل</td>
					<td>$854.00 دلار</td>
				    </tr>
				    <tr>
					<td>مالیات</td>
					<td>
					    <div class="text-danger">$25.00 دلار</div>
					</td>
				    </tr>
				    <tr>
					<td>قابل پرداخت</td>
					<td> $1232.00 دلار</td>
				    </tr>
				</tbody>
			    </table>
			</div>
			<div class="text-right">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#convertSuccessModal">تائید</button>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="modal fade" id="convertSuccessModal">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">تائید</h5>
			<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
		    </div>
		    <div class="modal-body">
			<div class="auth-form">
			    <form action="verify-step-2.html" class="identity-upload">
				<div class="identity-content">
				    <span class="icon"><i class="icofont-check"></i></span>
				    <p>ارسال به موفقیت انجام شد</p>
				</div>
			    </form>
			    <div class="card-footer text-center">
				<a href="signup.html">لیست تراکنش ها</a>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>


{% endblock %}