{% load static %}
<div class="sidebar">
    <div class="brand-logo">
        <a><img src="{% static 'images/logo.png' %}" alt="">
        </a>
    </div>
    <div class="menu">
        <ul>
        <li>
            <a href="{% url 'student:index' %}" data-toggle="tooltip" data-placement="right" title="خانه">
            <span><i class="icofont-ui-home"></i></span>
            </a>
        </li>
        <li><a href="{% url 'student:wallet' %}" data-toggle="tooltip" data-placement="right" title="کیف پول">
            <span><i class="icofont-wallet"></i></span>
            </a>
        </li>
        <li><a href="{% url 'student:create-student' %}" data-toggle="tooltip" data-placement="right" title="دانش آموز جدید">
            <span><i class="icofont-users"></i></span>
            </a>
        </li>
        <li class="logout"><a href="{% url 'account:logout' %}" data-toggle="tooltip" data-placement="right" title="خروج">
            <span><i class="icofont-power"></i></span>
            </a>
        </li>
        </ul>

        <!-- <p class="copyright">
        &#169; <a href="#">کَش</a>
        </p> -->
    </div>
</div>
