{% extends 'base.html' %}
{% load static %}

{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">معامله</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive transaction-table">
                            <table class="table table-striped responsive-table text-center">
                                <thead>
                                <tr>
                                    <th>نام خانوادگی</th>
                                    <th>نام پدر</th>
                                    <th>شماره ملی</th>
                                    <th>شماره کلاس</th>
                                    <th>شیفت</th>
                                    <th>پایه تحصیلی</th>
                                    <th>رشته تحصیلی</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ student.full_name }}</td>
                                    <td>{{ student.father_name }}</td>
                                    <td>{{ student.id_code }}</td>
                                    <td>{{ student.class_id.number }}</td>
                                    <td>{{ student.class_id.shift }}</td>
                                    <td>{{ student.level }}</td>
                                    <td>{{ student.reshte }}</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
		<div class="container">
		    <div class="row">

			<div class="col-xxl-6 col-xl-6">
			    <div class="card">
				<div class="card-header">
				    <h4 class="card-title">حضور و غیاب</h4>
				</div>
				<div class="card-body">
					<table class="table table-striped responsive-table text-center">
						<thead>
						<tr>
							<th>تاریخ</th>
							<th>زنگ</th>
							<th>وضعیت</th>
						</tr>
						</thead>
						<tbody>
						{% for a in attendance %}
							<tr>
								<td>{{ a.jdate }}</td>
								<td>{{ a.zang }}</td>
								<td>
									{% if a.status %}
										<h5 class="text-success">
											حاضر
										</h5>
									{% else %}
										<h5 class="text-danger">
											غایب
										</h5>
								{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				    <!-- <ul class="align-center">
						{% for a in attendance %}
							{{ a.zang }}
                            <li>
								{% if a.status %}
									<h5 class="text-success">
										حاضر
									</h5>
								{% else %}
									<h5 class="text-danger">
										غایب
									</h5>
								{% endif %}
                                <h5 class="text-left">{{ a.jdate }}</h5>
								<span></span>
								<hr class="text-primary">
                            </li>
						{% endfor %}
				    </ul> -->
				</div>
			    </div>
			</div>
            <!-- <div class="col-xxl-8">
			    <div class="card">
				<div class="card-header">
				    <h4 class="card-title">کیف پول</h4>
				</div>
				<div class="card-body">
				    <div class="row align-items-center">
					<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
					    <div class="balance-chart">
						<div id="balance-chart"></div>
						<h4>مقدار کل = 5360 دلار</h4>
					    </div>
					</div>
					<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">

					    <ul class="balance-widget">
						<li>
						    <div class="icon-title">
							<i class="cc BTC"></i>
							<span>بیت کوین</span>
						    </div>
						    <div class="text-right">
							<h5>0.000242 BTC</h5>
							<span>0.125 دلار</span>
						    </div>
						</li>
						<li>
						    <div class="icon-title">
							<i class="cc USDT"></i>
							<span>تتر</span>
						    </div>
						    <div class="text-right">
							<h5>0.000242 USDT</h5>
							<span>0.125 دلار</span>
						    </div>
						</li>
						<li>
						    <div class="icon-title">
							<i class="cc XTZ"></i>
							<span>تزوس</span>
						    </div>
						    <div class="text-right">
							<h5>0.000242 XTZ</h5>
							<span>0.125 دلار</span>
						    </div>
						</li>
						<li>
						    <div class="icon-title">
							<i class="cc XMR"></i>
							<span>مونرو</span>
						    </div>
						    <div class="text-right">
							<h5>0.000242 XMR</h5>
							<span>0.125 دلار</span>
						    </div>
						</li>
						<li>
						    <div class="icon-title">
							<i class="cc XMR"></i>
							<span>مونرو</span>
						    </div>
						    <div class="text-right">
							<h5>0.000242 XMR</h5>
							<span>0.125 دلار</span>
						    </div>
						</li>
					    </ul>
					</div>
				    </div>

				</div>
			    </div>
			</div> -->

		    </div>
		</div>
	    </div>
	</div>


{% endblock %}
