{% extends 'base.html' %}
{% load static %}

{% block title %}ویرایش لیست حضور غیاب{% endblock %}

{% block body %}

	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row">
			<!-- <div class="col-xxl-3 col-xl-3">
			    <div class="card">
				<div class="card-header">
				    <h4 class="card-title">تغییرات</h4>
				</div>
				<div class="card-body">
				    <ul>
						<li>
							<h5><a href="">لیست حضور غیاب</a></h5>
							<div class="text-left">
								<h5 class="ltr">Date</h5>
								<span></span>
							</div>
						</li>
						<hr>
				    </ul>
				</div>
			    </div>
			</div> -->
			<div class="col-xxl-12 col-xl-12">
			    <div class="card">
				<div class="card-header">
				    <h4 class="card-title"> {{ date }}</h4>
				    <h5 class="text-left">زنگ : {{ zang }}</h5>
				</div>
				<div class="card-body">
				    <div class="table-responsive transaction-table">
						<form action="{% url 'student:confirm-update' class_id_number date zang  %}" method="POST">
							{% csrf_token %}
							
							<table class="table table-striped responsive-table">
								<thead>
								<tr>
									<th>نام و نام خانوادگی</th>
									<th>نام پدر</th>
									<th>شماره ملی</th>
									<th>پایه تحصیلی</th>
									<th>رشته تحصیلی</th>
									<th>حضور و غیاب</th>
								</tr>
								</thead>
								<tbody>
								{% for s in att_list %}
								<tr>
									<td>{{ s.student.full_name }}</td>
									<td>{{ s.student.father_name }}</td>
									<td>{{ s.student.id_code }}</td>
									<td>{{ s.student.level }}</td>
									<td>{{ s.student.reshte }}</td>
									<td>
										<div class="btn-group btn-group-toggle" data-toggle="buttons" dir="ltr">
                                            {% if s.status %}
											<label class="btn btn-outline-success btn-sm active">
												<input type="radio" name="{{ s.student.usn }}" id="option1" class="text-light" autocomplete="off" value="present" checked> حاضر
											</label>
											<label class="btn btn-outline-danger btn-sm">
												<input type="radio" name="{{ s.student.usn }}" id="option2" autocomplete="off" value="absent"> غایب
											</label>
											{% else %}
											<label class="btn btn-outline-success btn-sm">
												<input type="radio" name="{{ s.student.usn }}" id="option1" autocomplete="off" value="present" checked> حاضر
											</label>
											<label class="btn btn-outline-danger btn-sm active">
												<input type="radio" name="{{ s.student.usn }}" id="option2" autocomplete="off" value="absent"> غایب
											</label>
                                            {% endif %}
                                  		</div>
									</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
							<div class="d-flex justify-content-center">
								<button class="btn btn-primary btn-sm col-4 mt-5 mb-2">ذخیره</button>
							</div>

						</form>
				    </div>
				</div>
			    </div>
			</div>

		    </div>
		</div>
	    </div>
	</div>
{% endblock %}
