{% extends 'base.html' %}
{% load static %}
{% block title %}صفحه اصلی{% endblock %}
{% block body %}
	<div id="main-wrapper">
	    <div class="content-body">
		<div class="container">
		    <div class="row">
			<div class="col-xxl-6">
			    <div class="card">
				<div class="card-header align-items-center">
				    <h4 class="card-title">کلاس های شیفت صبح</h4>
				    <h5 class="text-left">تعداد : {{ student_m }} نفر</h5>
				</div>
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table text-center">
					    <thead>
						<tr>
						    <th>شماره کلاس</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
							{% for c in class_room_m %}
								<tr>
									<td>
									<h4>{{ c.class_id.number }}</h4>
									</td>
									<td>
										<div class="badge p-3 bg-primary"><a href="{{ c.get_absolute_url }}" class="text-white">مشاهده</a></div>
										<div class="badge p-3 bg-warning"><a href="{% url 'student:attendance' c.class_id.number %}" class="text-white">حضور غیاب</a></div>
										<div class="badge p-3 bg-secondary"><a href="{% url 'student:attendance-list' c.class_id.number %}" class="text-white">لیست حضور غیاب این کلاس</a></div>
										<!-- <div class="badge p-3 bg-green"><a href="{% url 'student:attendance-list' c.class_id.number %}">لیست حضور غیاب این کلاس</a></div> -->
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>
				    </div>

				</div>
			    </div>
			</div>

			<div class="col-xxl-6">
			    <div class="card">
				<div class="card-header align-items-center">
				    <h4 class="card-title">کلاس های شیفت عصر</h4>
				    <h5 class="text-left">تعداد : {{ student_e }} نفر</h5>
				</div>
				<div class="card-body">
				    <div class="table-responsive">
					<table class="table table-striped responsive-table text-center">
					    <thead>
						<tr>
						    <th>شماره کلاس</th>
						    <th>وضعیت</th>
						</tr>
					    </thead>
					    <tbody>
							{% for c in class_room_e %}
								<tr>
									<td>
									<h4>{{ c.class_id.number }}</h4>
									</td>
									<td>
										<div class="badge p-3 bg-primary"><a href="{{ c.get_absolute_url }}" class="text-white">مشاهده</a></div>
										<div class="badge p-3 bg-warning"><a href="{% url 'student:attendance' c.class_id.number %}" class="text-white">حضور غیاب</a></div>
										<div class="badge p-3 bg-secondary"><a href="{% url 'student:attendance-list' c.class_id.number %}" class="text-white">لیست حضور غیاب این کلاس</a></div>
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>
				    </div>

				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>

	</div>
{% endblock %}